@-ms-viewport {
  width: device-width;
}

html {
  font-size: 10px;
  font-family: "Helvetica, sans-serif";

}
body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #666666;
}

header {
  font-family: 'Paytone One', sans-serif;
  color: #9AC752;
  width: 100%;
  margin-top: -5%;
  padding: 5% 5% 1% 5%;
  background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .5)), url('../assets/zebrapatternsm.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

.critterimage {
  margin: auto;
  height: 154px;
  background-color: #FFF;
  width: 154px;
  border: 2px solid #9AC752;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.critterimage:hover {
   transform: scale(1.1);
}

.iconimage {
  width: 150px;
  height: auto;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
}

h2 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
  color: #9AC752;
  margin-top: 3%;
}

h3 {
  font-size: 1.6em;
  margin-top: -1%;
}

h4 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.ghost-button-add  {
   color: #9AC752;
   border: 2px solid #9AC752;
   background-color: transparent;
   font-family: 'Paytone One', sans-serif;
   font-size: 2em;
   margin-top: -4%;
   min-width: 120px;
   align: center;
   float: right;
     outline: none;
 }

 .ghost-button-add:active, .ghost-button-add:hover {
   color: #FFF;
   border: none;
   background-color: #9AC752;
   border: 1px solid #000;
     outline: none;
 }

 .critters {
   padding: 9% 5% 1% 5%;
   align: center;
   text-align: center;
 }

.modal-content {
  background-color: #E9F3D8;
  padding: 0 5% 5% 5%;
  width: 364px;
  max-width: 100%;
  top: 10%;
  left: 20%;
}

.detailmodal {
  min-height: 375px;
}

.addmodal {
  min-height: 400px;
}

.deletemodal {
  min-height: 200px;
  width: 325px;
  top: 20%;
  left: -5%;
}

 .modalimage {
   width: 300px;
   height: auto;
   background-color: #FFF;
   text-align: center;
   border: 2px solid #9AC752;
   display: block;
   margin-bottom: 7%;
 }

 .modalhead {
   padding: 5% 0;
 }

 input:focus {
    outline: none;
}

 .ghost-button-modal  {
    color: #9AC752;
    border: 2px solid #9AC752;
    background-color: transparent;
    font-family: 'Paytone One', sans-serif;
    font-size: 2em;
    margin-top: -4%;
    min-width: 120px;
    align: center;
    margin-top: 7%;
    outline: none;
  }

  .ghost-button-modal:active, .ghost-button-modal:hover {
    color: #FFF;
    border: 2px solid #9AC752;
    background-color: #9AC752;
    margin-top: 7%;
    outline: none;
  }

  .buttonfloat {
    float: right;
  }

  .ghost-button-delete  {
     color: #FFF;
     border: 1px solid red;
     background-color: transparent;
     font-family: 'Paytone One', sans-serif;
     font-size: 1.2em;
     margin-top: -4%;
     min-width: 65px;
     align: center;
     margin: 3% 0 15% 0;
     outline: none;
   }

   .ghost-button-delete:active, .ghost-button-delete:hover {
     color: #FFF;
     border: 1px solid #666666;
     background-color: red;
      margin: 3% 0 15% 0;
     outline: none;
   }

   .deleteconfirmbutton {
     color: red;
     border: 2px solid red;
   }

   .deleteconfirmbutton:active, .deleteconfirmbutton:hover {
      color: #FFF;
      background-color: red;
      border: 2px solid red;
   }
